body {
  font-family: tahoma;
}
header {
  background: url(../images/header-cover.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

img {
  height: 45vh;
  width: 100%;
}

header:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url(../images/wave-bottom.svg);
  height: 275px;
}

.header-content {
  font-size: 45px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}

.header-content p {
  font-size: 20px;
  color: #fff;
  margin: 20px 0 25px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: capitalize;
}

.theme-btn {
  border-radius: 50px;
  background: #fff;
  padding: 15px 30px;
  min-width: 170px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 13px;
  color: black;
  border: 2px solid #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.theme-btn:hover {
  background-color: grey;
  color: #333;
  cursor: pointer;
}
